*{
    box-sizing: border-box;
}

div{
    height: fit-content;
}

button {
    position: relative;
    border: 3px solid #d3d3d3;
    border-radius: 12px;
    color: white;
    height: 48px;
    width: 48px;
    cursor: pointer;
    transition: outline 0.2s ease-in-out; 
}

button:hover {
    outline: 5px solid #e6e6e6;
}

button:active {
    filter: brightness(85%);
}