.btn-p{
    height: fit-content;
}

.btn {
    position: relative;
    border: 3px solid var(--border-color);
    border-radius: 12px;
    color: white;
    height: 48px;
    width: 48px;
    cursor: pointer;
    transition: outline 0.2s ease-in-out; 
}

.btn:hover {
    outline: 5px solid var(--hvr-outline-color);
}

.btn:active {
    filter: brightness(85%);
}