form {
  display: flex;
  align-items: center;
}

input {
  background: #dddddd;
  width: 600px;
  color: #6d6d6d;
  border: 0px;
  padding: 16px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 6px;
}

input::placeholder {
  color: #757575;
  font-weight: bold;
}

input:hover {
  outline: 1px solid #757575;
}

input:focus {
  outline: 2px solid #555555;
  background: white;
}
